# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Android
android-app/.gradle/
android-app/.idea/
android-app/.cxx/
android-app/build/
android-app/app/build/
android-app/gradle/android/
android-app/gradle/caches/
android-app/gradle/daemon/
android-app/gradle/kotlin-profile/
android-app/gradle/native/
android-app/gradle/wrapper/dists/
android-app/local.properties
android-app/*.iml
android-app/app/*.iml

# Backend
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/pip-wheel-metadata/
backend/share/python-wheels/
backend/.env
backend/.venv
backend/venv/
backend/ENV/
backend/env/

# API
API/__pycache__/
API/*.py[cod]

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Misc
.ipynb_checkpoints/
*.keras
*.h5
