body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* Animations */
@keyframes float {
	0%, 100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-30px);
	}
}

@keyframes slideInUp {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.MuiDropzoneArea-root {
	background-color: transparent !important;
}
.MuiDropzoneArea-root:hover {
	background-color: transparent !important;
}
.MuiDropzoneArea-text, .MuiDropzoneArea-icon {
  color: white !important;
}
/* Remove grey background from CardContent */
.MuiCardContent-root {
	background-color: transparent !important;
}

/* Remove grey background from CardContent */
.MuiCardContent-root {
background-color: transparent !important;
}
